:root{              /* Whole page colors */
    --text-color: #4a4a4a;  
    --mediumGrey-color: #d8d8d8;
    --lightGrey-color: #eaebec;
    --background-color: #f3f5f5;
  }

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color--);

a {
    color:var(--text-color);
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;        /* go up and down? */
/*------------------------EDITING PURPOSE ONLY*/border: 2px solid red;
}
.horiz {
  flex-flow: nowrap;        /* horizontal? */
}

img {
/*------------------------EDITING PURPOSE ONLY*/height: 100px;
}


/*--Navigation bar and menu--*/
nav {
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 0rem 0rem;
  font-size: 1rem;
  color: var(--text-color--);
}

  nav ul{   /*real box to play in */
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1px;  
    font-size: 1rem;
    padding: 0rem 1.5rem;
    }

  nav li{    
    display: inline-block;
    margin: 0 0.5rem;  /* top and bottom | left and right */
  }
  nav .home-li{
    margin-right: auto;
  }
  nav .align-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: nowrap;
    border: 3px solid red;
  }
  #icon {
    height: 2rem;
    width: auto;
  }
  nav a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 150ms ease;
  }
  nav a:hover{
    background-color: var(--hover-color);
  }
  nav a.active-link{
    border-bottom: 2px solid var(--text-color);
  }

  .iconName {
      z-index: 99;
  }

/*-- Jumbotron Section --*/
.jumbotron {
  background-color: var(--mediumGrey-color);
}

/*-- Highlighted Articles Section --*/
.highlighted_articles {
}


/*-- Available Classes Section --*/
.available_classes {
  background-color: var(--lightGrey-color);
  
}

.six_classes {
  flex-flow: row wrap;
}


/*-- Thesis Exhibit Section --*/
.thesis_exhibit {
  
}



#footbar {
  border-top: 1px solid var(--text-color);
}