:root{              /* Whole page colors */
    --text-color: #4a4a4a;  
    --mediumGrey-color: #d8d8d8;
    --lightGrey-color: #eaebec;
    --background-color: #ffffff;
  }

html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
body {
    color: var(--text-color);
    background-color: var(--background-color--);
}
.small_screen {
  display: none;
}

    /* Fonts */
.text {
  margin: .5rem 0rem;
  text-align: left;
  padding-left: 1rem;
}
a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #6fa6e6;
}
h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
h2 {
  font-size: 2.7rem;
  font-weight: 750;
  padding-top: 2rem;
  margin: 0;
}
h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
h4 {
  font-size: 1.8rem;
  font-weight: 600;
}
h5 {
  font-size: 1.1rem;
  font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;        /* go up and down */
}
.horiz {
  flex-direction: row;        /* over rides to horizontal*/
}

.container2 {
  border: 1px solid limegreen;
}


/*--Navigation bar and menu--*/
nav {
  padding: 0rem;
  margin: 0;
  font-size: 1rem;
  color: var(--text-color--);
}
  #colmar {
    font-weight: 600;
  }
  #academy {
    color: #9e9e9e;
  }

  nav ul{   /*real box to play in */
    display: flex;
    align-items: center;
    height: 4rem;
    font-size: 1rem;
    padding: 0rem 1.5rem;
    }
  nav li{    
    display: inline-block;
    margin: 0 0.5rem;  /* top and bottom | left and right */
  }
  nav .home-li{
    margin-right: auto;
  }
  nav .align-icon{
    display: flex;
    
    align-items: center;
    flex-flow: nowrap;
  }
  #icon {
    height: 2rem;
    width: auto;
  }
  nav a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 150ms ease;
  }

/*-- Banner Section --*/

.banner {
  background-color: var(--mediumGrey-color);
}

.sixty_percent_box {
  flex-shrink: 0;
  width: 60%;
  padding: 2rem 1.5rem;
  align-items: flex-start;
}
.large_picture {
  width: 100%;
  height: auto;
}
.left-align {
  align-items: flex-start;
  padding: 1.5rem;
}
.button_box {
  background-color: var(--text-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 100%;
  height: 3.5rem;
}
#button_text {
  color: var(--lightGrey-color);
  margin: .5rem;
}
.button_text_box {
  max-width: 80%;
  align-items: flex-start;
}
.button_text_box .text {
  padding: 0;
}

/*-- Highlighted Articles Section --*/
.highlighted_articles {
  display: flex;
  align-items: flex-start;  /*align on top*/
}
.under_pic {
  padding-left: 0;  
}
#author {
  margin-bottom: .5rem;
  font-size: .9rem;
}
.article div {
  align-items: flex-start;
  width: 65%;
}
.article img {
  width: 35%;
  height: auto;
  margin: 0rem;
  padding: 1rem 0rem 1rem 1rem;
}
 .grey_background {
  background-color: var(--mediumGrey-color);
 }


/*-- Start Learning Section --*/
.available_classes {
  background-color: var(--lightGrey-color); 
}
.six_classes {
  flex-flow: row wrap;
  row-gap: 2rem;
  column-gap: 2rem;
  margin: 0;
  padding: 2rem 4.5rem;
  align-items: flex-start;
}
.class_box {
  background-color: var(--background-color);
  min-width: 29%;
  max-width: 29%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1.5rem;
  align-self: stretch;
}
.class_box img {
  width: 100%;
  height: auto;
}

/*-- Thesis Exhibit Section --*/
.thesis_box {
  padding: 0;
  margin: 0;
}

#thesis_vid {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

#footbar {
  border-top: 1px solid var(--mediumGrey-color);
  font-size: .8rem;
  padding: 1rem 1.5rem;
  margin: 0;
  height: min-content;
}
footer .text {
  margin-top: 0;
  padding: 0;
}

/* ----------RESPONSIVE PART ---------- */
/*  mobile only, 480px  */

@media only screen and (max-width: 680px) {
.big_screen {
  display: none;
}
.small_screen {
  display: flex;
}
h2 {
  font-size: 2.4rem;
  padding-bottom: 1rem;
}
h4 {
  font-size: 1.75rem;
  font-weight: 600;
}
.horiz {
  display: flex;
  flex-direction: column;        /* over rides to horizontal*/
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

/* --Nav bar-- */
#company_link {
  display: none;
}
.nav_icon {
  height: 2.25rem;
  width: auto;
}
#icon {
  height: 2.25rem;
  width: auto;
}
nav .home-li{
  margin-right: 0;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* --Banner-- */
.sixty_percent_box {
  flex-shrink: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 1.5rem;
}
.sixty_percent_box .text {
  padding-left: 1rem;
}
.under_pic {
  padding-left: 1rem;
}
.button_text_box {  
  min-width: 99%;
}
.button_box {
  background-color: #9b9b9b;
}
.forty_percent_box {
  min-width: 100%;
  padding-bottom: 3rem;
}

/* --Articles-- */
.article {
  min-width: 100%;
  padding-bottom: 4rem;
  align-items: flex-start;
}
.article img {
  height: 12.75rem;
  width: auto;
}
.art_info {
  padding-left: 1rem;
  min-width: 90%;
}

.grey_background {
  background-color: var(--background-color);
}

/* --Start Learning-- */
.available_classes {
  background-color: var(--background-color);
  padding-bottom: 2rem;
  border-top: 2px solid var(--lightGrey-color);
  border-bottom: 2px solid var(--lightGrey-color);
}
.six_classes {
  padding: 1rem;
  row-gap: .5rem;
  column-gap: .5rem;
}

.class_box {
  background-color: #d8d8d8;
  max-width: 460px;
  min-width: 300px;
  padding: 1rem 1rem 1.5rem 1rem;
  min-height: 3rem;
}

/* --Thesis-- */
.thesis_exhibit {
  padding-bottom: 1.5rem;
}

/* --Footer-- */
#footbar {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 1rem;
}

} /*end react to mobile*/